.speech{
    font-family: Times, serif;  
    font-size: 16px;
    color: black;
  }
  .stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
    background-color:lightcoral;
}
.stage-direction:hover{
    background-color: lightgreen;
    color: sienna;
}   
  .name{
      font-family: 'Times New Roman', Times, serif;
      font-size: 15px;
      color: black;

  }
  .name:hover{
        text-shadow:5px 5px 3px magenta;
        border:darkgreen;
        border-style:ridge;   
    }
  
.KING{
    color:green;
}
.BERTRAM{
    color:orange;
}
.Second-Lord{
    color: blueviolet;
}
.First-Lord{
    color:brown;
}
.table{
    color:burlywood;
    text-align: center;
    padding: 11px;
    margin: 11px;
}
 
table, th, td {
    border: 4px groove;
  }
 
tr:nth-child(odd) {
    background-color: lightgray;
}

th{
    background-color: peachpuff;
    
}

ul.navbar-horizontal 
{   list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left; 
    color:rgb(134, 31, 48);
    background-color:lightgray;
}
ul.navbar-horizontal a {
    display:block;
    padding:8px;
}
    ul.navbar-horizontal a:hover{  
        background-color: rgb(68, 59, 59);
        color:white;
    }


  